.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

svg {
  fill: none;;
  stroke: #646464;
  stroke-width:1px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;

}
body {
    margin: 0 auto;
    max-width: 50em;
    background: white;
    line-height: 1.5em;
    padding: 4em 1em;
    color: #555;
    font-family: 'Inconsolata' ;
    font-size: 100%;
    font-weight: 400;
}

body #item-content {
    font-size:115%;
}

.wrapper h2 {
    color:#ab120d;
    font-size: 1.2em;
    font-weight: normal;
}

#larger {
font-size: 60px;
}

#create-form {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#text-input{
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


a {
    color:#1A0DAB;
    text-decoration: none;
}
p {
    font-size: 1em;
    line-height: 150%;
}



h2 {
    margin-top: 1em;
  padding-top: 1em;
    font-size:1.5em;
   -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin-bottom:0.5em;
    text-decoration:none;
}

ul {
    list-style: none;
    li {
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}

h1 {
    display: block;v
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 400;
}

.category {
    padding:10px;
    border-radius: 12px;
    margin-top:10px;
    display:inline-block;
    vertical-align : top;
}
.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 60px 30px 60px 30px;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}

img{
    max-width:100%;
    max-height:100%;
}

.drag h1 {
    color: #ab120d;
    display: block;
    font-size: 100%;
    -webkit-margin-after: 0.6em;
    -webkit-margin-start: 0.6em;
    -webkit-margin-end: 0.6em;
    font-weight: 400;
}

.drag {
    clear:both;
}
.category-item {
    vertical-align:top;
    margin: 1em;
    margin-bottom: 5px;
    padding: 5px;

}
.drag a {
    -webkit-margin-before: 0.6em;
    -webkit-margin-after: 0.6em;
    -webkit-margin-start: 0.6em;
    margin-bottom: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0px;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }
    }
}

#editor{
    width:80em;
    height: 50em;
}

textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#upload-file{
    width:100%;
    display:none;
}
#add-image{
    padding:5px;

}

.dragArea {
  min-height: 20px;
}

#add-item-btn{
    display: inline;
    float:right;
}
.custom-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

li {
    text-align: left;
}

.list-item{
    display-style:none;
    margin-left:1em;

}
h3{
    text-decoration: underline;
    font-size: 1.6em;
}
.custom-counter li {
    counter-increment: step-counter;
}

.custom-counter li::before {
    content: counter(step-counter);
}

#preview {
    float: right;
}